<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/adminlayout">
<head>
<meta charset="UTF-8"/>
<title>Reinitialiser un mot de passe</title>
</head>
<body>
<div layout:fragment="formactionadmin">
<!-- debut du FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-6  col-md-offset-3  reculeverticalementmodifpasswordform">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>Reinitialiser le mot de passe d'un utilisateur</h4>
			</div>
			<div class="panel-body">
			
				<form action="#" th:action="@{/logesco/admin/postresetPassword}"
						th:object="${passwordResetForm}" method="post">
					
					<div th:if="${param.updatesuccess}">
						<h4 align="center" class="alert alert-success">Mot de passe reinitialisé avec succès.</h4>
					</div>
					
					<div th:if="${param.updateerror}">
						<h4 align="center" class="alert alert-danger">Vérifier la confirmation du mot de passe.</h4>
					</div>
					
					<div class="form-group">
						<label for="username"> Utilisateur : <span class="redcolor">*</span></label>
						<select class="form-control" name="username"  th:field="*{username}"
										 id="username" >
							<option th:each="u:${listofUsers}" th:value="${u.username}"
											th:inline="text">
												 [[${u.username}]] 
							</option>
						</select>
					</div>
					<div th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}" class="redcolor">Erreur de nom d'utilisateur</div>
					
					
					<div class="form-group">
						<label for="newPassword"> Nouveau mot de passe : <span class="redcolor">*</span></label>
						<input type="password" name="newPassword" id="newPassword"
								class="form-control"  th:value="*{newPassword}"/>
					</div>
					<div th:if="${#fields.hasErrors('newPassword')}"
							th:errors="*{newPassword}" class="redcolor">Erreur de mot de passe</div>
							
					<div class="form-group">
						<label for="newPasswordConfirm"> Confirmation du mot de passe : <span class="redcolor">*</span></label>
						<input type="password" name="newPasswordConfirm" id="newPasswordConfirm"
								class="form-control"  th:value="*{newPasswordConfirm}"/>
					</div>
					<div th:if="${#fields.hasErrors('newPasswordConfirm')}"
							th:errors="*{newPasswordConfirm}" class="redcolor">Erreur de confirmation mot de passe</div>
					
					<button type="submit" class="btn btn-primary  pull-right">
							<span class="glyphicon glyphicon-save"></span> Envoyer
					</button>
					
				</form>
				
			</div>
		</div>
</div>
<!-- fin du FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>
</body>
</html>