<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/adminlayout">
<head>
<meta charset="UTF-8"/>
<title>Emblème de l'établissement</title>
</head>
<body>
<div layout:fragment="formactionadmin">
<!-- debut du FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-6  col-md-offset-3  reculeverticalementmodifpasswordform">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Enregistrement ou mise à jour des emblèmes de l'établissement</h4>
	</div>
	<div class="panel-body">
		<form action="#" th:action="@{/logesco/admin/postupdateEmblemeEtab}"
						th:object="${updateEmblemeEtabForm}" method="post" enctype="multipart/form-data">
				
				<div th:if="${param.updateetabsuccess}">
						<h4 align="justify" class="alert alert-success">Emblèmes enregistrées avec succès.</h4>
				</div>
				
				<input type="hidden"
							name="idEtab" id="idEtab" class="form-control" th:field="*{idEtab}" th:value="*{idEtab}" />
				
				<fieldset>
							<legend class="text-primary">Logo de l'établissement</legend>
							<div class="form-group col-md-8">
								<label for="picturelogoEtab"> Logo de l'établissement: </label> <input type="file"
									name="picturelogoEtab" id="picturelogoEtab" class="form-control-file" 
									placeholder="Envoyer le logo de l'établissement"/>
							</div>
							
							<div class="card col-md-4"> 
										<img th:src="@{/logesco/admin/getLogo(idEtab=*{idEtab})}" 
											class="card-img-top" width="100" height="100"/>
											<div class="card-body">
											    <p class="card-text">Logo enregistré pour l'établissement</p>
											 </div>
							</div>
							<div th:if="${#fields.hasErrors('logoEtab')}"
								th:errors="*{logoEtab}" class="redcolor">Erreur de logo de l'établissement</div>
			 	</fieldset>
			 	
			 	<fieldset>
							<legend class="text-primary">Bannière de l'établissement</legend>
							
							<div class="form-group col-md-8">
								<label for="picturebanniereEtab"> Banière de l'établissement: </label> <input type="file"
									name="picturebanniereEtab" id="picturebanniereEtab" class="form-control-file" 
									placeholder="Envoyer la banière de l'établissement" />
							</div>		
							<div class="card col-md-4"> 
								<img th:src="@{/logesco/admin/getBanniere(idEtab=*{idEtab})}" 
									class="card-img-top" width="100" height="100"/>
									<div class="card-body">
									    <p class="card-text">Bannière enregistrée pour l'établissement</p>
									 </div>
							</div>
							
							<div th:if="${#fields.hasErrors('banniereEtab')}"
								th:errors="*{banniereEtab}" class="redcolor">Erreur de banière de l'établissement</div>
							
			 	</fieldset>
				<button type="submit" class="btn btn-primary  pull-right">Envoyer</button>
		</form>
	</div>
</div>
</div>
<!-- fin du FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>
</body>
</html>