<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title>Bulletins annuels: Paramètres de production</title>
</head>
<body>

<span layout:fragment="titre_boite">
        Paramètres de production des bulletins annuels
</span>

<div layout:fragment="formactionusers">
	<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
	<div class="col-md-9">
	
	<span class="col-md-12 alert alert-warning">
			Sélectionner la classe puis cliquer sur le bouton envoyer pour que les bullletins
			annuels soient édités. Une fois cela fait, le fichier les contenant vous sera proposé en téléchargement.
			<br/><u>NB:</u> Une fois les bulletins générés appuyer du F5 ou actualiser la page pour générer
			le rapport de conseil de classe. 
		</span>
	
				<form action="#"
						th:action="@{/logesco/users/bulletins/lancerEditionsBulletinsAn}" method="get"
						class="form-inline" target="_blank">
						<div th:if="${listofNiveauxDirigesEns != null and anneeActive != null}" >
							<div class="form-group">
								<label for="idClassesConcerne"> Classes: <span
									class="redcolor">*</span></label>
								<select class="form-control" name="idClasseConcerne"
									id="idClasseConcerne" >
									<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveauxDirigesEns}"
										th:each="n:${listofNiveauxDirigesEns}">
										
										<option th:each="c:${n.listofClasses}"
											th:if="${c.estEnseignantTitulaireDeClasse(profConnecte.idUsers)==1 or patron!=null}"
											th:value="${c.idClasses}" th:inline="text">
										
											 [[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]] [[${c.numeroClasses}]]
											
										</option>
										
									</optgroup>
								</select>
							</div>
							
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="form-group">
								<label th:inline="text"> Année Scolaire: <span
									class="redcolor">[[${anneeActive.intituleAnnee}]]</span></label>
								<input type="hidden" name="idAnneeActive" id="idAnneeActive" 
									class="form-control" th:value="${anneeActive.idPeriodes}" />
						</div>
							
						<button type="submit" class="btn btn-primary  pull-right">Envoyer</button>
							
						</div>
						
					</form>
					<br/>
					<form action="#"
						th:action="@{/logesco/users/bulletins/lancerEditionsRapportConseilAn}" method="get"
						class="form-inline"  th:if="${session.getrapportan}"  target="_blank">
						<label>
							Actualiser la page pour générer automatiquement le rapport de conseil de classe une 
							fois que les bulletins sont générés.
						</label>	
						<br/>
						<fieldset class="col-md-12" th:if="${session.getrapportan}">
							<legend class="text-primary">Bouton de génération du rapport de conseil</legend>
							<button type="submit" class="btn btn-primary">
								Générer le rapport de conseil de classe annuel
							</button>
						</fieldset>
						
				</form>
	</div>
	<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>
</body>
</html>