<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title th:inline="text">[[#{donneesRAbsClasses.titre_page}]]</title>
</head>
<body>

<span layout:fragment="titre_boite">
        <kbd th:inline="text">[[#{donneesRAbsClasses.titre_boite}]]</kbd>
</span>

<div layout:fragment="formactionusers">
<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-8  col-md-offset-1">
	<form action="#"
		th:action="@{/logesco/users/exportRAbsencesClasses}" method="get" target="_blank">
		
		<div th:if="${affichechoixcycle !='non' and anneeActive != null}" >
			<div class="form-group">
				<label for="idClasseConcerne" th:inline="text">[[#{donneesRAbsClasses.label_classe}]] : <span
						class="redcolor">*</span></label>
				
				<select class="form-control" name="idClasseConcerne"
					id="idClasseConcerne" >
					<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveaux}"
						th:each="n:${listofNiveaux}">
						<option th:each="c:${n.listofClasses}" th:if="${c.geteffectifEleve()>0}"
							th:value="${c.idClasses}" th:inline="text">
							[[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]]
							[[${c.numeroClasses}]]</option>
					</optgroup>
					<optgroup label="">
						<option value="0" th:inline="text">
							[[${session.lang}=='fr'?'Toutes les classes': 'All classes']]
						</option>
					</optgroup>
				</select>
			</div>
			
			<div class="form-group" th:if="${listofTrimestreActif !=null and listofSequenceActif!=null}">
					<label for="idPeriode" th:inline="text">[[#{donneesRAbsClasses.label_periode}]] : <span
						class="redcolor">*</span></label>
					
					<select class="form-control" name="idPeriode"
						id="idPeriode" >
					
						<optgroup th:label="#{donneesRAbsClasses.label_optgroupChoixDate}">
							<option value="0" th:inline="text">
								[[#{donneesRAbsClasses.label_AllantDe}]]
							</option>
						</optgroup>
						
						<optgroup th:label="#{donneesRAbsClasses.label_optgroupSeq}">
							<option th:each="seq:${listofSequenceActif}" th:value="${seq.idPeriodes}" th:inline="text">
								[[${seq.numeroSeq}]]
							</option>
						</optgroup>
						
						<optgroup th:label="#{donneesRAbsClasses.label_optgroupTrim}">
							<option th:each="trim:${listofTrimestreActif}" th:value="${trim.idPeriodes}" th:inline="text">
								[[${trim.numeroTrim}]]
							</option>
						</optgroup>
						
						<optgroup  th:label="#{donneesRAbsClasses.label_optgroupAn}">
							<option th:value="${anneeActive.idPeriodes}" th:inline="text">
								[[${anneeActive.intituleAnnee}]]
							</option>
						</optgroup>
					
					</select>
				</div>
			
			<div class="form-group">
					<label for="datedebut" th:inline="text"> [[#{donneesRAbsClasses.label_datedebut}]]: </label>
					<input type="date" name="datedebut" id="datedebut" class="form-control" 
							placeholder="Date de naissance(année-mois-jour)"   max="2020-01-01" />
			   </div>
			   
			   <div class="form-group">
					<label for="datefin" th:inline="text"> [[#{donneesRAbsClasses.label_datefin}]]: </label>
					<input type="date" name="datefin" id="datefin" class="form-control" 
							placeholder="Date de naissance(année-mois-jour)"   max="2020-01-01" />
			   </div>
			   
			   <button type="submit" class="btn btn-primary  pull-right" th:inline="text">
					<span class="glyphicon glyphicon-send"></span> [[#{donneesRAbsClasses.bouton_envoyer}]] 
				</button>
				
			
			
		</div>
	</form>
</div>
<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>

</body>
</html>