<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title>Bulletins sequentiels: Paramètres de production</title>
</head>
<body>

<span layout:fragment="titre_boite">
        <kbd>Paramètres de production des bulletins séquentiels</kbd>
</span>

<div layout:fragment="formactionusers">
	<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
	
	<div class="col-md-9">
		<span class="col-md-12 alert alert-warning">
		<label>
			Sélectionner la classe et la séquence puis cliquer sur le bouton envoyer pour que les bullletins
			séquentiels soient édités. Une fois cela fait, le fichier les contenant vous sera proposé en téléchargement.
			<br/><u>NB:</u> Une fois les bulletins générés appuyer sur la touche F5 ou actualiser la page pour générer
			le rapport de conseil de classe.
		</label>
		</span>
			<form action="#"
						th:action="@{/logesco/users/bulletins/lancerEditionsBulletinsSeq}" method="get"
						class="form-inline" target="_blank">
					<div th:if="${listofNiveauxDirigesEns != null and anneeActive != null}" >
						<div class="form-group">
								<label for="idClassesConcerne"> Classes: <span
									class="redcolor">*</span></label>
								<select class="form-control" name="idClasseConcerne"
									id="idClasseConcerne" >

									<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveauxDirigesEns}"
										th:each="n:${listofNiveauxDirigesEns}">

										<option th:each="c:${n.listofClasses}"
											th:if="${(c.estEnseignantTitulaireDeClasse(profConnecte.idUsers)==1 or patron!=null) and c.geteffectifEleve()>0}"
											th:value="${c.idClasses}" th:inline="text">
										
											 [[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]] [[${c.numeroClasses}]]
											
										</option>

									</optgroup>

								</select>
							</div>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="form-group">
								<label th:inline="text"> Séquence: </label>
								<select class="form-control" name="idSequenceConcerne"
										id="idSequenceConcerne" >
										
										<option th:each="s:${listofSequenceActive}"
											th:value="${s.idPeriodes}" th:inline="text">
											[[${s.numeroSeq}]] 
										</option>
										
								</select>
							</div>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="form-group">
								<label th:inline="text"> Année Scolaire: <span
									class="redcolor">[[${anneeActive.intituleAnnee}]]</span></label>
								<input type="hidden" name="idAnneeActive" id="idAnneeActive" 
									class="form-control" th:value="${anneeActive.idPeriodes}" />
							</div>
							
							<button type="submit" class="btn btn-primary  pull-right">
								<span class="glyphicon glyphicon-send"></span> Envoyer
							</button>
							
					</div>
				</form>	
					<br/>
				<form action="#"
						th:action="@{/logesco/users/bulletins/lancerEditionsRapportConseilSeq}" method="get"
						class="form-inline"  th:if="${session.getrapportseq}"  target="_blank">
					
					<span class="col-md-12 alert alert-warning">
						<label>
							Cliquer sur le bouton ci-dessous pour générer le rapport de conseil. NB: Actualiser la page ou 
							appuyer sur F5 si ce bouton n'est pas disponible après la génération des bulletins.
						</label>	
					</span>
					<br/>
					<fieldset class="col-md-12" th:if="${session.getrapportseq}">
						<legend class="text-primary">Bouton de génération du rapport de conseil</legend>
						
						
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-cloud-download"></span> Générer le rapport de conseil de classe séquentiel
						</button>
						
					</fieldset>
					
				</form>
	</div>
	<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>

<script type="text/javascript">

function refresh(){
	alert("je vais recharger la page");
	window.location.reload(true);
}

</script>
</body>
</html>