<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title th:inline="text">[[#{donneesconseilannuel.titre_page}]]</title>
</head>
<body>

<span layout:fragment="titre_boite">
        <kbd th:inline="text">[[#{donneesconseilannuel.titre_boite}]]</kbd>
</span>

<div layout:fragment="formactionusers">
<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-8  col-md-offset-1">
	<div th:if="${affichechoixclasse=='non'}">
		<h4 align="justify" class="alert alert-danger" th:inline="text">[[#{donneesconseilannuel.label_erreurclasse}]] </h4>
	</div>
	
	<form action="#" th:if="${affichechoixclasse=='oui'}"
		th:action="@{/logesco/users/getformSaisieConseilClasseAn}" method="get"  class="form-inline">
	
		<div th:if="${listofNiveaux !=null and anneeActive != null}" >
			<div class="form-group">
				<label for="idClassesConcerne" th:inline="text">[[#{donneesconseilannuel.label_classe}]] : <span
					class="redcolor">*</span></label>
				
				<select class="form-control" name="idClasseConcerne"
					id="idClasseConcerne" >
					<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveaux}"
						th:each="n:${listofNiveaux}">
						<option th:each="c:${n.listofClasses}" th:if="${c.geteffectifEleve()>0}"
							th:value="${c.idClasses}" th:inline="text">
							[[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]]
							[[${c.numeroClasses}]]</option>
					</optgroup>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					<label th:inline="text"> [[#{donneesconseilannuel.label_anneescolaire}]] : <span
						class="redcolor">[[${anneeActive.intituleAnnee}]]</span></label>
					<input type="hidden" name="idAnneeActive" id="idAnneeActive" 
						class="form-control" th:value="${anneeActive.idPeriodes}" />
				</div>
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary  pull-right" th:inline="text">
					<span class="glyphicon glyphicon-send"></span> [[#{donneesconseilannuel.bouton_envoyer}]] 
				</button>
				
			</div>
			
			<h4 class="alert alert-info">
				<label th:inline="text"> [[#{donneesconseilannuel.label_explication1}]]</label>
			</h4>
			
		</div>
	
	</form>
	
	
	
</div>
<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>

</body>
</html>