<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title th:inline="text">[[#{formsaisieconseilclasseseq.titre_page}]] </title>
</head>
<body>

<span layout:fragment="titre_boite">
    <kbd th:inline="text"> [[#{formsaisieconseilclasseseq.titre_boite}]] </kbd> 
	<span th:inline="text" class="alert alert-warning"> 
		<kbd th:inline="text">
			[[${classeConcerne.codeClasses}]][[${classeConcerne.specialite.codeSpecialite}]] [[${classeConcerne.numeroClasses}]]
			([[#{formsaisieconseilclasseseq.label_sequence}]]: [[${sequenceConcerne.numeroSeq}]]).
		</kbd>
	</span>
</span>

<div layout:fragment="formactionusers">
<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE   col-md-offset-1-->
<div class="col-md-9">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th colspan="3">PERIODE: 
					<span th:inline="text" class="redcolor">Séquence N°[[${sequenceConcerne.numeroSeq}]] </span> 
				</th>
				<th></th>
			</tr>
			
			<tr>
				<th></th>
				<th>Moyenne Obtenue</th>
				<th>Sanction disciplinaire</th>
				<th>Abs NJ/Total</th>
				<!-- <th>DECISION DU CONSEIL DE CLASSE</th> -->
			</tr>
			
			<tr>
				<th>NOMS ET PRENOMS</th>
				<th>Seq: 
					<span th:inline="text" class="redcolor">N°[[${sequenceConcerne.numeroSeq}]] </span>
				</th>
				<th>Seq: 
				<span th:inline="text" class="redcolor">N°[[${sequenceConcerne.numeroSeq}]] </span>
				</th>
				<th>Seq: 
				<span th:inline="text" class="redcolor">N°[[${sequenceConcerne.numeroSeq}]] </span>
				</th>
				<!-- <th>Choix de la décision</th> -->
			</tr>
			
		</thead>
		<tbody th:if="${listofAllEleve}">
			<tr th:each="eleve:${listofEleves}">
				<td>
					<span th:inline="text">
						<b>
						[[${eleve.getNumero(listofAllEleve)}]]) [[${#strings.toUpperCase(eleve.nomsEleves)}]] 
						[[${eleve.prenomsEleves}]] <br/>
						Né le <span class="bluecolor">[[${#dates.format(eleve.datenaissEleves,"dd-MM-yyyy")}]]</span> à [[${eleve.lieunaissEleves}]]
						</b>
					</span>
				</td>
				<td>
					<span th:inline="text" class="bluecolor">
						<kbd>[[${ub.getMoyenneSequentiel(eleve,sequenceConcerne)}]]</kbd>
					</span>
				</td>
				<td>
					<ol>
						<li th:each="rdisc:${eleve.getListRapportDisciplinaireSeq(sequenceConcerne.idPeriodes)}">
							<span th:inline="text" class="redcolor">
								<b>
								[[
									${session.lang=='fr'}?
									(
										 ${rdisc.sanctionDisc.codeSancDisc}+' '+${rdisc.nbreperiode} +' '+ ${rdisc.unite}
									):
									(
										 ${rdisc.sanctionDisc.codeSancDiscEn}+' '+${rdisc.nbreperiode} +' '+ ${rdisc.unite}
									)
								]]
								</b>
							</span>
						</li>
					</ol>
				</td>
				<td>
					<span th:inline="text" class="redcolor">
					<b>
						[[${eleve.getNbreHeureAbscenceNonJustifie(idSequenceConcerne)}]]/
						[[${eleve.getNbreHeureAbscenceNonJustifie(idSequenceConcerne)}+
						${eleve.getNbreHeureAbscenceJustifie(idSequenceConcerne)}]]
					</b>
					</span>
				</td>
				<tr>
					<td colspan="4">
						<div class="col-md-1"></div> 
						<div class="col-md-11">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" 
												th:href="'#collapse'+${eleve.idEleves}">
												Faire le choix et enregistrer la décision du conseil de classe
											</a>
										</h4>
									</div>
									<div th:id="collapse+${eleve.idEleves}" class="panel-collapse  collapse in">
										<div class="panel-body">
										
											<div th:if="${param.updateDecisionConseilSeqSuccess}">
												<h4 align="justify" class="alert alert-success">
													Décision enregistée avec succès
												</h4>
											</div>
											
											<div th:if="${param.updateDecisionConseilSeqErrorConvert}">
												<h4 align="justify" class="alert alert-danger">
													Vérifier que le nombre de période est un nombre
												</h4>
											</div>
											
											<div th:if="${param.updateDecisionConseilSeqErrorUnite}">
												<h4 align="justify" class="alert alert-danger">
													Vérifier que le nombre de période est un nombre
												</h4>
											</div>
											
											<div th:if="${param.getformSaisieConseilClasseSeq}">
												<h4 align="justify" class="alert alert-danger">
													Erreur lors du chargement de la page
												</h4>
											</div>
										
											<form action="#" class="form-inline"
												th:action="@{/logesco/users/getUpdateDecisionConseilSeq}" method="get">
												
												<div class="form-group">
													<label for="idsanctionDiscAssocie">Observation discipline: <span class="redcolor">*</span></label>
													<br/>
													<select class="form-control" name="idsanctionDiscAssocie" id="idsanctionDiscAssocie">
															<option th:each="sanctDisc:${listofSanctionDisc}" th:value="${sanctDisc.idSancDisc}"
																th:inline="text" th:if="${session.lang=='fr'}">
																[[${sanctDisc.intituleSancDisc}]] ( [[${sanctDisc.codeSancDisc}]])
															</option>
															<option th:each="sanctDisc:${listofSanctionDisc}" th:value="${sanctDisc.idSancDisc}"
																th:inline="text" th:if="${session.lang!='fr'}">
																[[${sanctDisc.intituleSancDiscEn}]] ( [[${sanctDisc.codeSancDiscEn}]])
															</option>
													</select>	
												</div>
												
												<div class="form-group">
													<label for="nbreperiode">Nombre de période :<span class="redcolor">*</span></label><br/>
													<input type="text" name="nbreperiode" id="nbreperiode" class="form-control" value="0"/>
												</div>
												
												<div class="form-group">
													<label for="unite"> Unité :<span class="redcolor">*</span></label><br/>
													<select class="form-control" name="unite" id="unite">
														<option value="RAS">&nbsp;</option>
														<option value="H" th:if="${session.lang=='fr'}">Heures(H)</option>
														<option value="J" th:if="${session.lang=='fr'}">Jours(J)</option>
														<option value="H" th:if="${session.lang!='fr'}">Hours(H)</option>
														<option value="D" th:if="${session.lang!='fr'}">Days(D)</option>
													</select>
												</div>
												<br/><hr/>
												
												<div class="form-group">
													<label for="idsanctionTravAssocie">Observation travail: <span class="redcolor">*</span></label>
													<!-- <br/> -->
													<select class="form-control" name="idsanctionTravAssocie" id="idsanctionTravAssocie">
															<option th:each="sanctTrav:${listofSanctionTrav}" th:value="${sanctTrav.idSancTrav}"
																th:inline="text" th:if="${session.lang=='fr'}">
																[[${sanctTrav.intituleSancTrav}]] ( [[${sanctTrav.codeSancTrav}]])
															</option>
															<option th:each="sanctTrav:${listofSanctionTrav}" th:value="${sanctTrav.idSancTrav}"
																th:inline="text" th:if="${session.lang!='fr'}">
																[[${sanctTrav.intituleSancTravEn}]] ( [[${sanctTrav.codeSancTravEn}]])
															</option>
													</select><br/>
													<span>
														<label>Sanctions: </label><label class="greencolor" th:inline="text">
															[[
															${eleve.getDecisionConseilSeq(eleve.idEleves, idSequenceConcerne)}==null?' ':
															${eleve.getDecisionConseilSeq(eleve.idEleves, idSequenceConcerne).getSanctionDiscDecisionConseilString(session.lang)}
															]]
														</label><br/>
														<label>Distintions : </label><label class="greencolor" th:inline="text">
															[[
															${eleve.getDecisionConseilSeq(eleve.idEleves, idSequenceConcerne)}==null?' ':
															${eleve.getDecisionConseilSeq(eleve.idEleves, idSequenceConcerne).getSanctionTravDecisionConseilString(session.lang)}
															]]
														</label>
													</span>
												</div>
												
												<input type="hidden" name="idElevesConcerne" id="idElevesConcerne" 
														class="form-control" 
														th:value="${eleve.idEleves}" />
												
												<input type="hidden" name="idSequenceConcerne" id="idSequenceConcerne" 
														class="form-control" 
														th:value="${idSequenceConcerne}" />
												
												<input type="hidden" name="idClasseConcerne" id="idClasseConcerne" 
														class="form-control" 
														th:value="${idClasseConcerne}" />
												
												<br/>
												<button type="submit" class="btn btn-primary btn-sm  pull-right">
													<span class="glyphicon glyphicon-save"></span> Enregistrer 
												</button>
												
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-2"></div> -->
					</td>
				</tr>
			</tr>
		</tbody>
	</table>
	
	<div class="container">
			<ul class="pagination"><!-- nav nav-pills -->
				<li th:each="p,status:${listofPagesEleves}" th:class="${status.index==pageCouranteEleves}?active:' ' ">
					<a th:href="@{/logesco/users/getformSaisieConseilClasseSeq(idClasseConcerne=${idClasseConcerne},
						idSequenceConcerne=${idSequenceConcerne},	numPageEleves=${status.index})}"
						th:text="${status.index+1}"></a>
				</li>
			</ul>
							
	</div>
	
</div>
<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE   col-md-offset-1-->
</div>

</body>
</html>