<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/rapportlayout">
<head>
<meta charset="UTF-8"/>
<title>Liste des cours à dispenser</title>
</head>
<body>

<div layout:fragment="titre1">
	<h2 align="center">
		<span  th:inline="text">
			Liste des cours enseignés par [[${session.profConnecte.sexePers == 'masculin'}?'M':'Mme']]
			[[${session.profConnecte.nomsPers}]] [[${session.profConnecte.prenomsPers}]] pour l'année scolaire 
			[[${session.anneeActive.intituleAnnee}]]
		</span>
	</h2>
</div>

<div layout:fragment="titre2">
	
</div>

<div layout:fragment="titre3">
	
</div>

<div layout:fragment="contenurapport">

	<table class="table table-bordered" th:if="${session.listofcoursEnseigne}">
		<thead class="thead-light">
			<tr>
				<th scope="col" >CODE DU COURS</th>
				<th scope="col" >INTITULE DU COURS </th>
				<th scope="col" >COEFFICIENT </th>
				<th scope="col"  >CLASSE</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cours:${session.listofcoursEnseigne}" >
			
				<td th:inline="text"><b>[[${cours.codeCours}]]</b> </td>
				
				<td th:inline="text"><b>[[${cours.intituleCours}]]</b> </td>
				
				<td th:inline="text"><b>[[${cours.coefCours}]]</b> </td>
				
				<td th:inline="text">
					<b>
						[[${cours.classe.codeClasses}]] [[${cours.classe.specialite.codeSpecialite}]] [[${cours.classe.numeroClasses}]]
					</b> 
				</td>
			</tr>
		</tbody>
	</table>

	<div layout:fragment="boutondegestion">
		<a class="btn btn-primary btn-sm pull-right" href="#"  role="button">Exporter en PDF</a>
	</div>

</div>

</body>
</html>