<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title th:text="#{listeOperationEleve.titre_page}">Liste des opérations d'un élève</title>
</head>
<body>
<span layout:fragment="titre_boite">
       <kbd th:text="#{listeOperationEleve.titre_boite}">Listes des versements effectués par un élève</kbd>
</span>

<div layout:fragment="formactionusers">
<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-9">
	<p class="alert alert-warning">
				<span style="text-decoration: underline;" th:text="#{listeOperationEleve.label_important}">
					IMPORTANT:
				</span> 
				<span th:text="#{listeOperationEleve.label_selectclasseaafficher}">
					Sélectionner la classe et cliquer sur Envoyer. Une fois la liste affichée cliquer Listing devant chaque
				 nom pour afficher le listing de ses versements. 
				</span>
			</p>
			
		<div class="col-md-9">
			<form action="#" th:action="@{/logesco/users/getlistOperationsEleves}" method="get"  
				th:if="${listofClasses}" class="form-inline" >
				
				<div class="form-group">
					<label for="idClasseSelect" th:text="#{listeOperationEleve.label_classe}"> Sélectionner la classe : <span
								class="redcolor">*</span></label> 
					<select class="form-control" name="idClasseSelect" id="idClasseSelect" >
								
						<optgroup th:label="${session.lang=='fr'}?${n.codeNiveaux}+'/'+${n.codeNiveaux_en}:${n.codeNiveaux_en}+'/'+${n.codeNiveaux}"
							th:if="${listofNiveaux}" th:each="n:${listofNiveaux}">
													
								<option th:each="c:${n.listofClasses}" th:value="${c.idClasses}"
										th:inline="text">
										 [[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]] [[${c.numeroClasses}]]
								</option>
														
						</optgroup>
											 
					</select>
				</div>
				
				<button type="submit" class="btn btn-primary  pull-right" 
					th:inline="text">
					<span class="glyphicon glyphicon-send"></span> [[#{listeOperationEleve.bouton_envoyer}]]
				</button>
			
			</form>
		</div>
		&nbsp;	
			
	
	<form action="#" th:action="@{/logesco/users/getlistOperationsEleves}" method="get"  
			th:if="${listofClasses}">
		<fieldset  class="col-md-12" th:if="${classeSelect}">
			<legend class="text-primary" th:inline="text"> [[#{listeOperationEleve.label_listeleve}]]
				<span th:inline="text" th:if="${classeSelect}" class="greencolor"> [[${classeSelect.codeClasses}]] 
					[[${classeSelect.specialite.codeSpecialite}]] [[${classeSelect.numeroClasses}]]</span> (Total:
				<span th:text="${effectiftotalClasse}" class="redcolor"></span>)
			</legend>
			
			<div th:if="${listeleveDansClasses}" >
				<table class="table table-striped">
					<thead class="thead-light">
						<tr>
							<!-- <th scope="col" th:text="#{listeProvEleves.th_matricule}">MATRICULE</th> -->
							<th scope="col" th:text="#{listeOperationEleve.th_nomsprenoms}">NOMS ET PRENOMS</th>
							<th scope="col" th:text="#{listeOperationEleve.th_datenaissance}">DATE ET LIEU DE NAISSANCE</th>
							<th scope="col" th:text="#{listeOperationEleve.th_numtel}">N° TEL PARENT/TUTEUR</th>
							<th scope="col" th:text="#{listeOperationEleve.th_montant}">MONTANT VERSE/MONTANT TOTAL</th>
							<th scope="col">ACTION</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="eleve:${listeleveDansClasses}">
							<!-- <td th:inline="text">[[${eleve.matriculeEleves}]] </td> -->
							<td th:inline="text">[[${#strings.toUpperCase(eleve.nomsEleves)}]] [[${eleve.prenomsEleves}]] </td>
									
							<td th:inline="text">
								[[#{listeOperationEleve.label_nele}]] 
								[[${#dates.format(eleve.datenaissEleves,"dd-MM-yyyy")}]] [[#{listeOperationEleve.label_a}]] 
								[[${eleve.lieunaissEleves}]]
							</td>
									
							<td th:inline="text">[[${eleve.numtel1Parent}]]</td>
							
							<td th:inline="text"><b>[[${eleve.compteInscription.montant}]] / [[${eleve.classe.montantScolarite}]]</b></td>
							<td>
								<div>
			      				<span>
			      					<a class="btn btn-success btn-sm pull-right" href="#"  
			      						th:href="@{/logesco/users/imprimerlistingVersement(idEleve=${eleve.idEleves})}" 
			      						role="button" th:inline="text" target="_blank">
			      						<span class="glyphicon glyphicon-list-alt"></span> [[#{listeOperationEleve.bouton_imprimer}]]
			      					</a>
			      				</span>
			      				</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="col-md-9 container">
					<ul class="pagination"><!-- nav nav-pills -->
						<li th:each="p,status:${listofPagesEleves}" th:class="${status.index==pageCouranteEleves}?active:' ' ">
							<a th:href="@{/logesco/users/getlistOperationsEleves(idClasseSelect=${idClasseSelect},
									numPageOperationEleves=${status.index})}"
									th:text="${status.index+1}"></a>
						</li>
					</ul>
							
				</div> 
				
			</div>
			
		</fieldset>
		
		
	</form>
	
	
			
</div>
<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>

</body>
</html>