<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/userslayout">
<head>
<meta charset="UTF-8"/>
<title>Procès verbaux séquentiels</title>
</head>
<body>

<span layout:fragment="titre_boite">
        Génération des procès verbaux des évaluations séquentielles
</span>

<div layout:fragment="formactionusers">
<!-- DEBUT DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
<div class="col-md-7  col-md-offset-1">
	
		<form action="#" th:action="@{/logesco/users/postlistprocesverbalEvalSeq}" 
				method="post"   class="form-inline" th:object="${getrapportEvalSeqForm}">
				
				
				
				<fieldset class="col-md-12" >
					<legend class="text-primary">Sélectionner la classe pour laquelle le procès verbal sera demandé</legend>
					
					<div class="form-group">
						<label for="idclasseRapport"> Classe à consulter: <span
										class="redcolor">*</span></label> 
						
						<select class="form-control" name="idclasseRapport"
									id="idclasseRapport"  th:value="*{idclasseRapport}">

							<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveauxForPV}"
										th:each="n:${listofNiveauxForPV}">

								<option th:each="c:${n.listofClasses}"
									th:value="${c.idClasses}" th:inline="text">
									[[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]]
											[[${c.numeroClasses}]]</option>

							</optgroup>
							
						
							<optgroup th:label="${n.codeNiveaux}" th:if="${listofNiveauxDirigesForPV}"
										th:each="n:${listofNiveauxDirigesForPV}">
										
								<option th:each="c:${n.listofClasses}" 
									th:if="${c.estEnseignantTitulaireDeClasse(profConnecte.idUsers)==1}"
									th:value="${c.idClasses}" th:inline="text">
									[[${c.codeClasses}]] [[${c.specialite.codeSpecialite}]]
											[[${c.numeroClasses}]]
								</option>
							</optgroup>

						</select>
						
						<div class="form-group">
							<label for="idsequenceRapport"> Séquence: <span
								class="redcolor">*</span></label> 
							
							<select class="form-control" name="idsequenceRapport"
									id="idsequenceRapport"  th:value="*{idsequenceRapport}">
								
								<option th:each="s:${listofSequence}"
									th:value="${s.idPeriodes}" th:inline="text">
									[[${s.numeroSeq}]]</option>
								
							</select>
						</div> 
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
						<button type="submit" class="btn btn-primary  pull-right">Envoyer</button>
					</div>
					
				</fieldset>
			</form>
				
			<fieldset  class="col-md-12" th:if="${session.erreurcoursRapportSeq}">
				<h4 align="justify" class="alert alert-warning">
					Aucun cours n'existe dans la classe sélectionnée.
				</h4>
			</fieldset>
			
			<!-- Affichage des cours avec possibilité d'affichage des procès verbaux s'il existe déja ie si une 
			évaluation est déjà enregistrée dans la séquence pour le cours indiquée -->
			<fieldset  class="col-md-12" th:if="${session.listcoursofClassesRapportSeq}">
				<legend class="text-primary" >Classe sélectionnée: 
					<span th:inline="text"  class="redcolor">[[${session.classeRapportSeq}]] </span>
					Séquence concernée:  <span th:inline="text"  class="redcolor">[[${session.sequenceRapportSeq}]]</span>
				</legend>
				<table class="table table-striped">
					<caption></caption>
					<thead class="thead-light">
						<tr>
							<th scope="col">MATIERE</th>
							<th scope="col">ENSEIGNANT </th>
							<th scope="col" >PROCES VERBAL </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cours:${session.listcoursofClassesRapportSeq}">
							<td th:inline="text">
								 [[${cours.codeCours}]] ([[${cours.intituleCours}]])
							</td>
							<td th:inline="text">
								 [[${cours.proffesseur.nomsPers}]] ([[${cours.proffesseur.numtel1Pers}]]/[[${cours.proffesseur.numtel2Pers}]])
							</td>
							<td th:inline="text">
								<a class="btn btn-primary btn-sm pull-left" href="#" th:if="${cours.gettailleListEvalSeq(session.numeroseqdeRapportSeq)} != 0"
										th:href="@{/logesco/users/getprocesverbalfinalNotesSeq(idCours=${cours.idCours},
										idSequence=${session.numeroseqdeRapportSeq},	
										idClasse=${session.classeRapport.idClasses})}"
										role="button" target="_blank">Voir le procès verbal final</a>
								
								[[${cours.gettailleListEvalSeq(session.numeroseqdeRapportSeq)==0}?'Procès verbal non disponible':' ']]
								
							</td>
						</tr>
					</tbody>
				</table>
				
				
			</fieldset>
</div>
<!-- FIN DU FORMULAIRE PERMETTANT D'EFFECTUER L'ACTION DEMANDEE -->
</div>
</body>
</html>