<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/rapportlayout">
<head>
<meta charset="UTF-8"/>
<title>Rapport des absences</title>
</head>
<body>
<div layout:fragment="titre1">
<h2 align="center">
		<span  th:inline="text">
			ANNEE SCOLAIRE: [[${session.anneeScolaire.intituleAnnee}]] 
			<br/>
			FICHE DES ABSENCES DEFINITIVES EN CLASSE DE  [[${session.classeConcerneListofRAbsSeq.codeClasses}]] 
				[[${session.classeConcerneListofRAbsSeq.specialite.codeSpecialite}]] 
				[[${session.classeConcerneListofRAbsSeq.numeroClasses}]] POUR LE COMPTE DE LA SEQUENCE 
				[[${session.sequenceConcerneListofRAbsSeq.numeroSeq}]] 
		</span>
</h2>
</div>

<div layout:fragment="titre2">
	
</div>

<div layout:fragment="titre3">
	
</div>

<div layout:fragment="contenurapport">
<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th scope="col" >NUMERO</th>
				<th scope="col" >NOMS ET PRENOMS </th>
				<th scope="col" >DATE ET LIEU DE NAISSANCE </th>
				<th scope="col"  >ABSENCES JUSTIFIES </th>
				<th scope="col"  >ABSENCES NON JUSTIFIES </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="eleve:${session.listofAllEleveDeClasseConcerne}" >
				<td th:inline="text"><b>[[${eleve.getNumero(session.listofAllEleveDeClasseConcerne)}]]</b> </td>
				<td th:inline="text">[[${eleve.nomsEleves}]]  [[${eleve.prenomsEleves}]]</td>
				<td th:inline="text">Né le [[${#dates.format(eleve.datenaissEleves,"dd-MM-yyyy")}]] 
						à  [[${eleve.lieunaissEleves}]]
				</td>
				
				<td th:inline="text">
					<b>
						 [[${eleve.getRapportDAbsenceSeq(session.sequenceConcerneListofRAbsSeq.idPeriodes) != null}?
						${eleve.getRapportDAbsenceSeq(session.sequenceConcerneListofRAbsSeq.idPeriodes).nbreheureJustifie}:'0']]
					</b>
				</td>
				
				<td th:inline="text">
					<b>
						 [[${eleve.getRapportDAbsenceSeq(session.sequenceConcerneListofRAbsSeq.idPeriodes) != null}?
						${eleve.getRapportDAbsenceSeq(session.sequenceConcerneListofRAbsSeq.idPeriodes).nbreheureNJustifie}:'0']]
					</b>
				</td>
				
			</tr>
		</tbody>
</table>

	<div layout:fragment="boutondegestion">
		<a class="btn btn-primary btn-sm pull-right" href="#"  role="button">
		<span class="glyphicon glyphicon-list-all"></span> Exporter en PDF</a>
	</div>

</div>

</body>
</html>