@CHARSET "UTF-8";
.reculeverticalement{
	margin-top: 15px; /*50px*/
}

.reculelogoverticalement{
    margin-top: 25px;
}

.reculelogoverticalementdansuserslayout{
    margin-top: 10px;
}

.reculehorizontalement{
	margin-left: 400px;
}

.reculeverticalementformlogin{
	margin-top: 25px;
}

.reculeverticalementbar{
	margin-top: 20px;
}

.reculeverticalementmodifpasswordform{
	margin-top: 20px;
}

.reculeformdeconnecter{
	margin-top: 70px;
}

.reculeverticalementmodifdonneepersoform{
	margin-top: 50px;
}


.reculeverticalementdate{
	margin-top: 14px;
}

.reculehorizontalementdate{
	margin-left: 100px;
}

.redcolor{
	color:red;
}

.greencolor{
	color:green;
}

.bluecolor{
	color:blue;
	
}

.div-header{
	border-style:groove;
	border-radius: 11px;
}

#div-principal{
    background-image: url("../images/logopng.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/* Partie CSS de la section des menus dans la page userslayout.html */
.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}


/*Gestion du background des pages d'erreur*/
.panel-heading{
	background-color: green;
}

/*#fenetre{
	background-image: url("../images/403.jpg");//
	background-position: center;//[pourcentage | longueur] {1,2} |[top | center | bottom] || [left | center | right]
	background-attachment: fixed; //fixed | scroll
	background-repeat: no-repeat;// | repeat | repeat-x | repeat-y
	background-size: auto;
	background-position-x: center;
}*/